*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

section{
          width: 100%;
          height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 20px;
}

.content{
          width: 30%;
          font-size: 20px;
          padding: 30px;
          background: cornsilk;
          text-align: justify;
}

button{
          background: cornflowerblue;
          text-decoration: none;
          padding: 6px;
          color: white;
          font-size: 18px;
          margin-top: 20px;
          outline: none;
          border: none;
          cursor: pointer;
}

#more{
          display: none;
          transition: 0.5s ease;
}

#dots{
          display: inline;
}
